# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Ansible
*.retry
ansible/inventory.ini
ansible/.key/id_rsa

# Terraform
ansible/terraform/.terraform/
ansible/terraform/*.tfstate
ansible/terraform/*.tfstate.backup
ansible/terraform/.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.txt
env.json
ansible.zip
